* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f1f1f3;
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}
.nav-container {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.nav-logo {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: #0e0e0e;
}
.nav-btn a {
  text-decoration: none;
  color: #006a50;
}
.nav-btn {
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 25px;
  background: transparent;
  border-radius: 6px;
  transition: 0.4s;
}
.nav-btn:hover {
  background-color: #006a50;
  color: #0e0e0e;
}
.nav-btn:hover a {
  color: #ffffff;
}
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c6e4d6;
  padding: 0 0 0 60px;
  margin-top: 20px;
  margin-bottom: 80px;
  border-radius: 15px;
}
.hero-text-area h4 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 15px;
}
.hero-text-area h1 {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 24px;
}
.hero-btn {
  width: 260px;
  height: 55px;
  border-radius: 5px;
  border: none;
  background-color: #006a50;
  transition: 0.4s;
}
.hero-btn a {
  font-size: 1.12rem;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
}
.hero-btn:hover {
  background-color: #ffffff;
  color: #0e0e0e;
  border: 2px solid #006a50;
}
.hero-btn:hover a {
  color: #000000;
}
.hero-img-area img {
  margin: 60px 80px;
}
.piller-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.piller-1 {
  padding: 24px;
  border: 2px solid #d5d6d8;
  border-radius: 5px;
}

.piller-1 p {
  font-size: 1rem;
  font-weight: normal;
}
.piller-1 h3 {
  font-size: 1.28rem;
  font-weight: bold;
}
.piller-section {
  margin-bottom: 80px;
}
.piller-section h1 {
  margin-bottom: 32px;
  font-size: 2.2rem;
  font-weight: bold;
}
.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  gap: 24px;
}
.item {
  padding: 24px;
  border: 2px solid #d5d6d8;
  border-radius: 5px;
}
.item h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 24px 0 12px 0;
}
.item p {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 24px;
}
.vision-heading {
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 24px;
}
.vision-para {
  font-size: 1rem;
  font-weight: normal;
}
.vision-btn1 {
  width: 122px;
  height: 40px;
  border-radius: 4px;
  border: none;
  background-color: #5490f5;
  transition: 0.4s;
}
.vision-btn1 a {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
}
.vision-btn1:hover {
  background-color: #ffffff;
  color: #0e0e0e;
  border: 2px solid #5490f5;
}
.vision-btn1:hover a {
  color: #000000;
}
.vision-btn2 {
  width: 122px;
  height: 40px;
  border-radius: 4px;
  border: none;
  background-color: #09a15c;
  transition: 0.4s;
}
.vision-btn2 a {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
}
.vision-btn2:hover {
  background-color: #ffffff;
  color: #0e0e0e;
  border: 2px solid #09a15c;
}
.vision-btn2:hover a {
  color: #000000;
}
.vision-btn3 {
  width: 122px;
  height: 40px;
  border-radius: 4px;
  border: none;
  background-color: #ffc239;
  transition: 0.4s;
}
.vision-btn3 a {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
}
.vision-btn3:hover {
  background-color: #ffffff;
  color: #0e0e0e;
  border: 2px solid #ffc239;
}
.vision-btn3:hover a {
  color: #000000;
}
.item1 {
  background-color: #81b4fc;
}
.item2 {
  background-color: #c6e4d6;
}
.item3 {
  background-color: #f7ebcf;
}
.vision-section {
  margin-bottom: 32px;
}
.opinion-section{
  margin-bottom: 80px;
}
.opinion-section-heading{
  margin-bottom: 24px;
}
.option-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  border-radius: 10px;
  padding: 32px;
}
.option1{
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #f1f1f3;
  border-left: 2px solid #f1f1f3;
  border-right: 2px solid #f1f1f3;
}
.option1 p {
  margin: 30px 20px;
  font-size: 1rem;
  font-weight: 600;
}
.lastoption{
  border-bottom: 2px solid #f1f1f3;
}
#select-item {
  margin: 20px;
  background-color: #c6e4d6;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 10px;
  border-radius: 5px;
}
.optionx {
  background-color: #c6e4d6;
}
.opinion-submit-btn{
  text-align: center;
  background-color: #c6e4d6;
  margin-top: 20px;
  border-radius: 7px;
}
.opinion-submit-btn button{
    width: 122px;
    height: 40px;
    border-radius: 4px;
    border: none;

    background-color: #2c9767;
    transition: 0.4s;
}
.opinion-submit-btn button a{
    color: #ffffff;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 700;
}